@{
    ViewData["Title"] = "Rainbow!";
    ViewData["LangLink"] = "/";
}
<div class="text-center v-center">
    <div class="h2">
        <p class="h3 text-white" id="subtitle">
        </p>
    </div>
</div>