@{































































































































































































































































































































































































































































































































    ViewData["LangDes"] = "语言: 英语";































































































































































































































































































































































































































































































































    ViewData["Title"] = "小作文生成器";































































































































































































































































































































































































































































































































    ViewData["FooterClass"] = "position";
}
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- loading -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    请稍等！
                </h4>
            </div>
            <div class="modal-body">
                机器人正在思考怎么续写，请多给它一些包容和关爱...
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="py-5" id="board">
    <div class="post-content mx-auto" id="post">
        <article class="markdown-body">

            @* 代写小作文输入面板 *@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">代写小作文输入面板</h3>
                </div>
                <div class="panel-body">
                    @* 输入体 *@

                    <form method="post">
                        <div class="input-group"><span class="input-group-addon" name="input">续写前缀：</span>
                            <textarea class="form-control" placeholder="在此输入文章提示前缀" style="height:100px;" id="input"
                                required></textarea>
                        </div>

                        <div class="input-group"><span class="input-group-addon" name="result">输出结果：</span>
                            <textarea readonly class="form-control" placeholder="" style="height:300px;"
                                id="result"></textarea>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">预期的最大输出字数</span>
                            <input type="number" id="maxt" name="maxt" class="form-control" placeholder="0-450"
                                aria-describedby="sizing-addon2">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id='submit'
                                    onclick="javascript:SubmitForm()">点击生成小作文</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <script>


                function SubmitForm() {
                    var prompt = $('#input').val();
                    var result = $('#result');
                    var maxT = parseInt($('#maxt').val());
                    if (!maxT) {
                        maxT = 450;
                        $('#maxt').val(450);
                    }

                    if (maxT > 450) {
                        maxT = 450;
                    }
                    submit = {
                        "prompt": prompt,
                        "maxT": maxT
                    }
                    var timer;
                    $(document).ajaxStart(function () {
                        console.log('准备提交！');
                        $("#submit").attr("disabled", "true");
                        var times = 1
                        timer = setInterval(() => {
                            $('#result').val('机器人正在思考怎么续写，请多给它一些包容和关爱...\n'
                                + '已用时间 ' + times++ + 's');
                        }, 1000)
                    });

                    $.ajax({
                        url: "/WeLM/GetPara",
                        type: "post",
                        dataType: "json",
                        data: {
                            "prompt": prompt,
                            "maxT": maxT
                        },
                        success: function (responseText, statusText, xhr, $form) {
                            console.log(responseText);
                            jsonResult = JSON.parse(responseText);
                            $('#result').val(jsonResult.choices[0].text);
                            $("#submit").removeAttr("disabled");
                            // 清除计时
                            clearInterval(timer)
                        },
                        error: function (xhr, status, err) {
                            alert("error");
                        },
                        clearForm: false,
                        resetForm: false
                    })



                    return true
                }
            </script>
        </article>
    </div>
</div>