@{

    ViewData["LangDes"] = "语言: 英语";

    ViewData["Title"] = "小作文生成器";

    ViewData["FooterClass"] = "position";
}
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/jquery/2.0.0/jquery.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="text-center v-center">
    <div class="h2">
        <p class="h3 text-white" id="subtitle">
        </p>
    </div>
</div>

<!-- loading -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    请稍等！
                </h4>
            </div>
            <div class="modal-body">
                机器人正在思考怎么续写，请多给它一些包容和关爱...
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="py-5" id="board">
    <div class="post-content mx-auto" id="post">
        <article class="markdown-body">

            @* 代写小作文输入面板 *@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>代写小作文输入面板</h2>
                </div>
                <div class="panel-body">
                    @* 输入体 *@

                    <form method="post">
                        <div class="input-group"><span class="input-group-addon" name="input">输入内容：</span>
                            <textarea class="form-control" placeholder="在此输入文章提示前缀" style="height:100px;" id="input"
                                required></textarea>
                        </div>

                        <div class="input-group"><span class="input-group-addon" name="result">输出结果：</span>
                            <textarea readonly class="form-control" placeholder="" style="height:300px;"
                                id="result"></textarea>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon">预期的最大输出字数</span>
                            <input type="number" id="maxt" name="maxt" class="form-control" placeholder="0-450"
                                aria-describedby="sizing-addon2">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id='submit'
                                    onclick="javascript:SubmitForm()">点击生成小作文</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <script>
                function SubmitForm() {
                    var prompt = $('#input').val();
                    var result = $('#result');
                    var maxT = parseInt($('#maxt').val());
                    if (!maxT) {
                        maxT = 450;
                        $('#maxt').val(450);
                    }

                    if (maxT > 450) {
                        maxT = 450;
                    }
                    submit = {
                        "prompt": prompt,
                        "maxT": maxT
                    }
                    var timer;
                    $(document).ajaxStart(function () {
                        console.log('准备提交！');
                        $("#submit").attr("disabled", "true");
                        var times = 1
                        timer = setInterval(() => {
                            $('#result').val('机器人正在思考怎么续写，请多给它一些包容和关爱...\n'
                                + '已用时间 ' + times++ + 's');
                        }, 1000)
                    });
                    $("#submit").attr("disabled", "true");
                    $.ajax({
                        url: "/WeLM/GetPara",
                        type: "post",
                        dataType: "json",
                        data: {
                            "prompt": prompt,
                            "maxT": maxT
                        },
                        success: function (responseText, statusText, xhr, $form) {
                            console.log(responseText);
                            jsonResult = JSON.parse(responseText);
                            $('#result').val(jsonResult.choices[0].text);
                            $("#submit").removeAttr("disabled");
                            // 清除计时
                            clearInterval(timer)
                        },
                        error: function (xhr, status, err) {
                            alert("请求失败，请刷新后重试！");
                            $("#submit").removeAttr("disabled");
                        },
                        clearForm: false,
                        resetForm: false
                    })

                    return true
                }
            </script>
            <div id="body-inner">
                <h2>功能介绍</h2>
                <p>WeLM没有对自然语言相关的任务做任何约束或者预置。仅通过调用模型来补全您输入的文本，可以体验或者完成各种自然语言的任务。</p>
                <h3 id="prompt-设计">Prompt 设计 <span class="anchor"
                        data-clipboard-text="https://welm.weixin.qq.com/docs/introduction/#prompt-设计"><i
                            class="fas fa-link fa-lg"></i></span></h3>
                <p>为了规范表达，把在输入框中输入的文本简称为“prompt”,&nbsp; WeLM会根据您的 prompt 生成符合上下文语义以及符合上下文 patten 的结果。 以简单的文本续写为例，调用 API
                    输入 “今天我身体不舒服，所以我”，模型大概率会返回“请假在家休息”。当然，您可以参照参数文档修改参数，可以得到更多不一样的结果。Promot
                    的不同设计会影响模型的结果，根据任务的难易对Prompt的要求也不尽相同。<strong>最好的 prompt 设计原则是：第一，描述清楚；第二，例子具备代表性（多个例子更好）</strong>。
                </p>
                <p>下面我们给出一些设计 prompt 的经验和实例供您参考。您也可以多尝试不同的写法，通过模型的结果给予更多反馈。</p>
                <h4 id="阅读理解任务">阅读理解任务： <span class="anchor"
                        data-clipboard-text="https://welm.weixin.qq.com/docs/introduction/#阅读理解任务"><i
                            class="fas fa-link fa-lg"></i></span></h4>
                <pre><code class="hljs makefile">阅读文章：
“经审理查明，被告人张××、杜×、杨2某均为辽宁省辽阳第一监狱五监区服刑人员。2015年11月3日13时许，被告人张××、杜×因无事便跟随去催要生产材料的被告人杨2某一同前往六监区，在六监区生产车间门外，被告人杨2某与六监区送料员于×因送料问题发生争执，被告人杨2某上前拽住被害人于×胳膊并用手击打被害人后脖颈两下，被告人张××、杜×见杨2某动手后，先后上前分别对被害人于×面部、头部及腹部进行殴打，后被赶到的干警制止。被害人于×被打造成面部受伤，鼻子流血，当日下午14时许，到监区内医院就诊，诊断为：鼻部中段向左侧畸形，11月5日经监狱医院X光诊断为鼻骨骨折。2015年11月18日，经辽阳襄平法医司法鉴定所法医鉴定：被害人于×身体损伤程度为轻伤二级。被告人张××、杜×、杨2某共同赔偿被害人于×人民币7000元，被害人于×对被告人的行为表示谅解。”
<span class="hljs-section">问题: “被害人于×11月5日经监狱医院X光诊断后的诊断结果为？”</span>
答案：
</code><span class="copy-to-clipboard" title="Copy to clipboard"></span></pre>
                <style type="text/css">
                    .notice {
                        --root-color: #444;
                        --root-background: #eff;
                        --title-color: #fff;
                        --title-background: #7bd;
                        --warning-title: #c33;
                        --warning-content: #fee;
                        --info-title: #fb7;
                        --info-content: #fec;
                        --note-title: #6be;
                        --note-content: #e7f2fa;
                        --tip-title: #5a5;
                        --tip-content: #efe
                    }

                    body.dark .notice {
                        --root-color: #ddd;
                        --root-background: #eff;
                        --title-color: #fff;
                        --title-background: #7bd;
                        --warning-title: #800;
                        --warning-content: #400;
                        --info-title: #a50;
                        --info-content: #420;
                        --note-title: #069;
                        --note-content: #023;
                        --tip-title: #363;
                        --tip-content: #121
                    }

                    .notice {
                        padding: 18px;
                        line-height: 32px;
                        margin-bottom: 24px;
                        border-radius: 4px;
                        color: var(--root-color);
                        background: var(--root-background)
                    }

                    .notice p:last-child {
                        margin-bottom: 0
                    }

                    .notice-title {
                        margin: -18px -18px 12px;
                        padding: 4px 18px;
                        border-radius: 4px 4px 0 0;
                        font-weight: 700;
                        color: var(--title-color);
                        background: var(--title-background)
                    }

                    .notice.warning .notice-title {
                        background: var(--warning-title)
                    }

                    .notice.warning {
                        background: var(--warning-content)
                    }

                    .notice.info .notice-title {
                        background: var(--info-title)
                    }

                    .notice.info {
                        background: var(--info-content)
                    }

                    .notice.note .notice-title {
                        background: var(--note-title)
                    }

                    .notice.note {
                        background: var(--note-content)
                    }

                    .notice.tip .notice-title {
                        background: var(--tip-title)
                    }

                    .notice.tip {
                        background: var(--tip-content)
                    }

                    .icon-notice {
                        display: inline-flex;
                        align-self: center;
                        margin-right: 8px
                    }

                    .icon-notice img,
                    .icon-notice svg {
                        height: 1em;
                        width: 1em;
                        fill: currentColor
                    }

                    .icon-notice img,
                    .icon-notice.baseline svg {
                        top: .125em;
                        position: relative
                    }
                </style>
                <div><svg width="0" height="0" display="none" xmlns="http://www.w3.org/2000/svg">
                        <symbol id="tip-notice" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                            <path
                                d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z">
                            </path>
                        </symbol>
                        <symbol id="note-notice" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                            <path
                                d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z">
                            </path>
                        </symbol>
                        <symbol id="warning-notice" viewBox="0 0 576 512" preserveAspectRatio="xMidYMid meet">
                            <path
                                d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z">
                            </path>
                        </symbol>
                        <symbol id="info-notice" viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                            <path
                                d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z">
                            </path>
                        </symbol>
                    </svg></div>
                <div class="notice tip">
                    <p class="first notice-title"><span class="icon-notice baseline"><svg>
                                <use href="#tip-notice"></use>
                            </svg></span>Tip</p>
                    <ol>
                        <li>阅读理解任务一般有三个部分，正文，问题和答案。这个例子里我们显示的加上“<strong>问题：</strong>”会让WeLM更清楚的知道后面的部分是问题，加上“<strong>答案：</strong>”会让模型知道接下来该生成答案。
                        </li>
                        <li>开头加任务的<strong>描述</strong>更有帮助</li>
                    </ol>
                </div>

                <h4 id="开放域问答">开放域问答： <span class="anchor"
                        data-clipboard-text="https://welm.weixin.qq.com/docs/introduction/#开放域问答"><i
                            class="fas fa-link fa-lg"></i></span></h4>
                <pre><code class="hljs">请根据所学知识回答下面这个问题
问题：百年孤独的作者是？
回答：加西亚·马尔克斯
问题：二战转折点是?
回答：
</code><span class="copy-to-clipboard" title="Copy to clipboard"></span></pre>
                <p>WeLM的一个显著优势在于学习了大量知识，因此您甚至可以把它当成一个问答搜索引擎，建议给出一个或多个问答例子作为指引。</p>
                <h4 id="文本分类">文本分类： <span class="anchor"
                        data-clipboard-text="https://welm.weixin.qq.com/docs/introduction/#文本分类"><i
                            class="fas fa-link fa-lg"></i></span></h4>
                <pre><code class="hljs scss">判断这条微博的情感是积极的还是消极的
微博：本命年的第一天就把马桶给弄堵了，<span class="hljs-selector-attr">[泪]</span>添堵
类别：消极
微博：华丽丽闪瞎眼啊！<span class="hljs-selector-attr">[爱你]</span>
类别：积极
微博：很有娱乐精神<span class="hljs-selector-attr">[嘻嘻]</span>
类别：
</code><span class="copy-to-clipboard" title="Copy to clipboard"></span></pre>
                <p>这里我们增加了两个例子再让WeLM预测最后一条微博的情感类别。</p>
                <div class="notice tip">
                    <p class="first notice-title"><span class="icon-notice baseline"><svg>
                                <use href="#tip-notice"></use>
                            </svg></span>Tip</p>
                    <ol>
                        <li>我们把分类任务用<strong>自然语言</strong>清楚的表达了输入输出。</li>
                        <li>在第一句的指令型描述中，我们把<strong>可能的分类结果都列出来</strong>，如果是其他分类任务，多个类别也可。</li>
                        <li>如果效果不佳，你可以尝试<strong>加入更多例子</strong>让模型更熟悉你要做的任务。</li>
                    </ol>
                </div>

                <p>下面我们给出一些更具备我们模型特色的例子：</p>
                <h4 id="文本风格转换">文本风格转换： <span class="anchor"
                        data-clipboard-text="https://welm.weixin.qq.com/docs/introduction/#文本风格转换"><i
                            class="fas fa-link fa-lg"></i></span></h4>
                <pre><code class="hljs">有这样一段文本，{医生微笑着递给小明棒棒糖，同时让小明服下了药。}
改写这段话让它变得更加惊悚。{医生眼露凶光让小明服药，小明感到非常害怕}。

有这样一段文本，{雨下得很大}
改写这段话让它变得更加具体。{一霎时，雨点连成了线，大雨就像天塌了似的铺天盖地从空中倾泻下来。}。

有这样一段文本，{王老师离开了电影院，外面已经天黑了}
改写这段话让它包含更多电影信息。{这部电影比小王预想的时间要长，虽然口碑很好，但离开电影院时，小王还是有些失望。}

有这样一段文本，{男人站在超市外面打电话}
改写这段话来描述小丑。{男人站在马戏团外一边拿着气球一边打电话}

有这样一段文本，{风铃声响起}
改写这段话写的更加丰富。{我对这个风铃的感情是由它的铃声引起的。每当风吹来时，风铃发出非常动听的声音，听起来是那么乐观、豁达，像一个小女孩格格的笑声。}

有这样一段文本，{我想家了}
改写这段话包含更多悲伤的感情。{
</code><span class="copy-to-clipboard" title="Copy to clipboard"></span></pre>
                <div class="notice tip">
                    <p class="first notice-title"><span class="icon-notice baseline"><svg>
                                <use href="#tip-notice"></use>
                            </svg></span>Tip</p>
                    <ol>
                        <li>文本转化需要给模型一些样例去学习，建议<strong>使用我们给出的5个例子作为 prompt 的固定组成</strong>。</li>
                        <li>我们给出的5个例子和最后需要生成的例子并没有重合的风格转换类型，展现了 WeLM
                            出色的举一反三能力，<strong>通过学习少量的文本转换例子达到对任意类型的文本转换</strong>。</li>
                        <li>可以参考我们的<strong>参数设置top_p=0.95&nbsp;temperature=0.85&nbsp;max_tokens=100</strong>,
                            您可以通过增大n来一次获取更多的结果，从中挑选更为合适的。</li>
                    </ol>
                </div>

                <h4 id="个性对话生成">个性对话生成： <span class="anchor"
                        data-clipboard-text="https://welm.weixin.qq.com/docs/introduction/#个性对话生成"><i
                            class="fas fa-link fa-lg"></i></span></h4>
                <pre><code class="hljs">李⽩，字太⽩，号⻘莲居⼠，⼜号“谪仙⼈”，唐代伟⼤的浪漫主义
诗⼈，被后⼈誉为“诗仙”。
我：今天我们穿越时空连线李⽩，请问李⽩你爱喝酒吗？
李⽩：当然。花间⼀壶酒，独酌⽆相亲。举杯邀明⽉，对影成三⼈。
我：你觉得杜甫怎么样？
李⽩：他很仰慕我，但他有属于⾃⼰的⻛采。
我：你为何能如此逍遥？
李⽩：天⽣我材必有⽤，千⾦散尽还复来！
我：你都去过哪些地方？
李白：
</code><span class="copy-to-clipboard" title="Copy to clipboard"></span></pre>
                <p>通过增大max_tokens来尝试生成更长的回答，更多关于个性化的例子可以参考我们的技术报告。</p>
                <h4 id="翻译">翻译： <span class="anchor"
                        data-clipboard-text="https://welm.weixin.qq.com/docs/introduction/#翻译"><i
                            class="fas fa-link fa-lg"></i></span></h4>
                <p>英中翻译</p>
                <pre><code class="hljs lua">“I had a good <span class="hljs-built_in">time</span>”的中文翻译是：我玩得很开心。
“The pandemic has triggered more demand <span class="hljs-keyword">for</span> online shopping”的中文翻译是：疫情引发了更多的网购需求
“I am a programmer <span class="hljs-keyword">in</span> Tencent”的中文翻译是：
</code><span class="copy-to-clipboard" title="Copy to clipboard"></span></pre>
                <p>甚至中英日混合翻译</p>
                <pre><code class="hljs">“微信 AI 推出の WeLM 是一个 language model that いろいろなtaskをperformができる”的中文翻译是：
</code><span class="copy-to-clipboard" title="Copy to clipboard"></span></pre>
                <div class="notice info">
                    <p class="first notice-title"><span class="icon-notice baseline"><svg>
                                <use href="#info-notice"></use>
                            </svg></span>Info</p>
                    <ol>
                        <li><strong>WeLM并没有专门对翻译进行训练</strong>，甚至没有对齐的语料，选择英或日翻译成中文的效果最佳</li>
                        <li><strong>WeLM也具备mutilingual的能力</strong>，例如前文的阅读理解，将问题换成英文依然能生成正确的中文或者英文回答</li>
                    </ol>
                </div>

                <h4 id="写作或文本续写">写作或文本续写： <span class="anchor"
                        data-clipboard-text="https://welm.weixin.qq.com/docs/introduction/#写作或文本续写"><i
                            class="fas fa-link fa-lg"></i></span></h4>
                <pre><code class="hljs">中国地大物博，自然⻛光秀丽，大自然的⻤斧神工造就了许多动人心魄的美景，
</code><span class="copy-to-clipboard" title="Copy to clipboard"></span></pre>
                <div class="notice tip">
                    <p class="first notice-title"><span class="icon-notice baseline"><svg>
                                <use href="#tip-notice"></use>
                            </svg></span>Tip</p>
                    <ol>
                        <li>如果是长文本可以把max_tokens设置的更大一些（&gt;256）</li>
                        <li>可重复采样3-5次后<strong>复制你认为的最好结果拼接于原文后</strong>，让WeLM继续生成</li>
                    </ol>
                </div>






                <footer class=" footline">

                </footer>


            </div>
        </article>
    </div>
</div>